@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald/static/Oswald-Bold.ttf");
}

@font-face {
    font-family: "black-theory";
    src: url("/fonts/black_theory/Black-Theory.otf");
}

@font-face {
    font-family: "pricedown";
    src: url("/fonts/pricedown/Pricedown\ Bl.otf");
}

button {
    font-size: 70px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: grab;
}

button:hover {
    transform: scale(1.0);
    transition: 0.5s ease;
}

.Home-screen {
    display: inline-block;
    animation: 40s sliding infinite linear;

}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

@keyframes sliding {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-101%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 99vw;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
}

section nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav .dropdown {
    height: 60px;
    display: flex;
}

section nav .dropdown .dropdown-content {
    width: 100%;
    display: block;
    position: absolute;
    background: white;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 1000;
}

section nav .dropdown .links {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

section nav .dropdown .links summary {
    width: 1rem;
    height: 100%;
}

section nav .dropdown .links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

section nav .dropdown .links a:hover::after {
    width: 100%;
}

section nav .dropdown .links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
}

section nav .dropdown .links a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #000;
    display: block;
}

section nav .icon i {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 200ms ease-out;
}

section nav .icon i:hover {
    font-size: 18px;
    color: #008000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section .main {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-direction: column;
    top: 50px;
}

section .main .cart-text h1 {
    font-size: 55px;
    font-family: "Oswald";
    color: black;
    margin-right: 15px;
}

section .main .cart-items table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

section .main .cart-items table .header {
    background: #90ff90;
}

section .main .cart-items table tr {
    border-bottom: 1px solid #e0e0e0;
}

section .main .cart-items table tr th {
    font-size: 20px;
    color: black;
    padding: 10px 5px;
    text-align: left;
    font-family: "Oswald";
}

section .main .cart-items table tr td {
    font-size: 13px;
    color: black;
    padding: 10px 5px;
    text-align: left;
    font-family: "Oswald";
}

section .main .cart-items table tr .item {
    max-width: 30rem;
    min-width: 25rem;
    display: flex;
    flex-direction: row;
}

section .main .cart-items table tr .item img {
    max-width: 200px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    padding-right: 15px;
}

section .main .cart-items table tr .item h3 {
    margin: auto 0;
}

section .main .cart-items table tr .item h3 span {
    color: gray;
    font-weight: normal;
    font-size: 10px;
}

section .main .cart-items table tr .size {
    max-width: 20rem;
    min-width: 10rem;
}

section .main .cart-items table tr .color {
    max-width: 20rem;
    min-width: 10rem;
}

section .main .cart-items table tr .price {
    max-width: 20rem;
    min-width: 10rem;
}

section .main .cart-items table tr .quantity {
    max-width: 20rem;
    min-width: 10rem;
}

section .main .cart-items table tr .total {
    max-width: 20rem;
    min-width: 10rem;
}

section .main .main_image img {
    width: 700px;
    left: 30px;
    position: relative;
}

section p {
    width: 650px;
    text-align: justify;
    position: relative;
    left: 100px;
    bottom: 430px;
    line-height: 22px;
}

section .main_btn {
    background: green;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
    position: absolute;
    bottom: 10px;
    left: -500px;
    font-size: 18px;
}

section .main_btn a {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    font-family: "Oswald";
    text-align: right;
}

section .main_btn i {
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i {
    transform: translateX(7px);
}

.footer {
    width: 100vw;
    padding: 10px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    bottom: 0;
}

.footer .coupon {
    width: 50%;
}

.footer .coupon h2 {

    font-size: 20px;
    font-family: "Oswald";
    color: black;
    margin: 10px 0;
    margin-left: 20px;
}

.footer .coupon .coupon-box {
    margin: auto;
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.footer .coupon .coupon-box .coupon-input {
    width: 45%;
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
}

.footer .coupon .coupon-box button {
    width: 45%;
    font-size: smaller;
    font-family: "Oswald";
    background-color: #90ff90;
    cursor: pointer;
}

.footer .check-out {
    width: 50%;
}

.footer .check-out h2 {
    font-size: 20px;
    font-family: "Oswald";
    color: black;
    margin: 10px 0;
    margin-left: 20px;
}

.footer .check-out .subtotal {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .check-out .shipping {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .check-out .total {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .check-out button {
    width: 95%;
    font-size: 20px;
    font-family: "Oswald";
    background-color: #90ff90;
    cursor: pointer;
}

.header-links {
    font-family: "Oswald";
    cursor: pointer;
}

/*interaction*/

.not-active {
    color: #acacac;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}